
#service-provider-form .form-group {
    position: relative;
    margin-bottom: 20px; 
}

#service-provider-form .form-group input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
}

#service-provider-form .form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: bold;
    color: #999;
    transition: 0.2s ease;
}

#service-provider-form .form-group input:focus + label,
#service-provider-form .form-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #100101; 
}

.button-group {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 


.button-group button {
    flex: 1; 
    padding: 12px 20px;
}

.cancel-btn {
    background-color: #ff6666; 
}


.cancel-btn {
    background-color: #ff6666; 
}
}